<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<{$charset}>" lang="<{$charset}>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<{$charset}>" />
    <meta http-equiv="Content-Language" content="<{$charset}>" />
    <title>反馈信息</title>
    <link href="style/<{$webmaster_skin}>/global.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
<div class="maintable_div" style="width:500px;margin-top:60px">
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" class="maintable">
  <tr>
    <th align="left"><div class="thead">反馈信息</div></th>
  </tr>
  <tr>
    <td>
        <center class="msg_body">
        <div class="msg_content">
        <{$content}>
        </div>
        <div class="msg_url">
        <a href="<{$url}>"><{$url_tip}></a>
        </div>
        </center>
    </td>
  </tr>
</table>
</div>
</div>
</body>
</html>