<div id="footer">
        | <a href="index_cn.php">首页</a> | <a href="about_cn.php">关于我们</a> | <a href="products_cn.php">产品中心</a> | <a href="sale_cn.php">销售网络</a> | <a href="howtobuy_cn.php">如何购买</a> | <a href="feedback_cn.php" target="_blank">留言反馈</a> | <a href="contact_cn.php">联系我们</a> | <a href="/websystem">管理入口</a> |</div>
      <div id="ft">Copyright 2006 G-antetech.com, ltd. All rights reserved. 技术支持: <a href='http://www.swson.com'>尚网数据</a></div>
<div style="text-indent:-9999px;"><a href="../cmlinks.html">Link</a></div>
</div>
</body>
</html>