<{include file="header.html"}>


<!-- welcome-company -->
	<div class="welcome-company">
		<div class="container">
			<div class="welcome-company-grids">
				<div class="col-md-4 welcome-company-grid-left">
					<div class="company-grids">
						<img src="images/1.jpg" alt=" " class="img-responsive"/>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-8 welcome-company-grid-right">
					<h3>广东电缆行业龙头企业  广东电缆厂有限公司</h3>
					<p><{$company[0].article_content|correct_path}></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //welcome-company -->
<!-- services -->

	<div class="our">
		<div class="container">
			<h3>成功案例</h3>
			<div class="our-main">
				<div class="our-text">
					<{section name=new loop=$info}>
					<div class="col-md-4 our-left">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						<h4><a href="news_detail.php?menuid=2&classid=<{$info[new].classid}>&id=<{$info[new].id}>" class="top_new"><{$info[new].news_title|dodi_msubstr:0:18}></a></h4>
					</div>
					<{/section}>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- projects -->
	<div id="projects" class="projects">
		<div class="container">
			<h3>新品推荐</h3>
			<div class="project-grids">
				<ul id="flexiselDemo1">
					<{section name=p loop=$products}>
					<li>
						<div class="project-grid">
							<a href="products_detail.php?menuid=3&id=<{$products[p].id}>&classid=<{$products[p].products_classid}>">
								<img src="<{$products[p].products_thumb|correct_path|getThumb:120:120}>" alt=" " class="img-responsive" />
							</a>
							<div class="project-grid-text">
								<h4><{$products[p].products_title}></h4>
								<p>20 June 2015, by <a href="#">admin</a>, in <a href="#">Featured.</a></p>
							</div>
						</div>
					</li>
					<{/section}>

				</ul>
				<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
			</div>
		</div>
	</div>
<!-- //projects -->
<!-- news -->
<div class="our">
	<div class="container">
		<h3>行业动态</h3>
		<div class="our-main">
			<div class="our-text">

				<{section name=new loop=$guide}>
				<div class="col-md-4 our-left">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h4><a href="news_detail.php?menuid=2&classid=<{$info[new].classid}>&id=<{$info[new].id}>" class="top_new"><{$guide[new].news_title|dodi_msubstr:0:18}></a></h4>
				</div>
				<{/section}>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //products -->
<!-- contact -->
	<div id="contact" class="contact">
		<div class="container">
			<h3>Contact</h3>
			<div class="map">
				<div style="min-height: 360px">
					<img src="http://120.26.202.243:8080/gdcwl/images/map.jpg" style="width: 100%">
				</div>
				<div class="map-color" style="min-height: 360px">
					<div class="contact-info">
						<h4>联系我们</h4>
						<p>佛山南海区大沥凤池装饰材料市场B2-7</p>
						<p>销售部联系人:郭文升经理</p>
						<p>手机:18688801051</p>
						<p>传真:0757-86709783</p>
						<p>总机:0757-86773640 转2666郭经理</p>
						<p>E-mail:  gddlc@139.com</p>
						<p>QQ：  527210457</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- //contact -->


<{include file="footer.html"}>