<{include file="head_cn.html"}>
 <!--头部结束-->
   <div id="ind_center">
     <div class="left">
	 <{include file="left_cn.html"}>
	 </div>
     <div class="right">

      <div id="gd_pro_l"><img src="images/HaoSc23.png" width="18" height="18" /><span>产品展示</span></div>
      <div id="gd_pro_r"></div>
      <div id="cl"></div>
      <div id="line_1"></div>
      <div id="gd_pro">
      <div  class="con_p">
		  <div id="pm">
	  <ul class="pm1">
<{section name=p loop=$product}>	 
       <li>
	   
	   <!--<table width="240" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="130" rowspan="4">
	<span><a href="products_detail.php?menuid=3&id=<{$product[p].id}>&classid=<{$product[p].products_classid}>"><img src="<{$product[p].products_thumb|correct_path|getThumb:120:120}>" width="120" height="120"  border="0"/></a></span>	</td>
    <td width="125" height="10">
	  <strong>Item No.:	</strong></td>
  </tr>
  <tr>
    <td height="10"><{$product[p].products_title}></td>
  </tr>
  <tr>
    <td height="10"><strong>Product:</strong></td>
  </tr>
  <tr>
    <td><{$product[p].products_title}> </td>
  </tr>
</table>-->
<div class="midholder">
								<div>
									<p style="border:1px solid #666666"><a href="products_detail.php?menuid=3&id=<{$product[p].id}>&classid=<{$product[p].products_classid}>"><img src="<{$product[p].products_thumb|correct_path|getThumb:120:120}>" width="120" height="120"  border="0"/></a></p>
								</div>
							</div>
							<a href="products_detail_cn.php?menuid=3&id=<{$product[p].id}>&classid=<{$product[p].products_classid}>"><span class="fb">产品型号:</span> <{$product[p].products_desc}></a>
							<a href="products_detail_cn.php?menuid=3&id=<{$product[p].id}>&classid=<{$product[p].products_classid}>"><span class="fb">产 品 名: </span><{$product[p].products_name}></a>
							<a href="products_detail_cn.php?menuid=3&id=<{$product[p].id}>&classid=<{$product[p].products_classid}>" class="morelink ico">detail.</a>
</li>
<{/section}>
</ul>
		  </div>
		  
		  
		  
	  </div>
      
     </div>
	 <div class="PageControl"><{$page_list}></div>
    <div id="cl"></div>

   </div>
   <div id="ind_c_bot"><img src="images/gan_11.jpg" width="988" height="3" /></div>
      <div id="cl"></div>
</div>
<{include file="footer_cn.html"}>